%h2 New surf spot

#map1.jmap

.column.position-info
  %h3 Spot info
  .position-value
  .address-value

.column.create-form
  = error_messages_for :surfspot

  = form_for(@surfspot, :class => 'remote', :id => 'create-surf-spot', :action => url(:surfspots)) do
    %fieldset
      %ul
        %li= text_field :name, :label => 'Name'
        %li= text_field :longitude, :label => 'Longitude'
        %li= text_field :latitude, :label => 'Latitude'
        %li= text_field :town, :label => 'Town'
        %li= text_field :region, :label => 'Region'
        %li= text_field :postcode, :label => 'Postcode'
        %li= text_field :state, :label => 'State'
        %li= text_area :description, :label => 'Description', :rows => 12, :cols => 32
        %li= submit "Save"

  = link_to 'Back', url(:surfspots)