%h2= @surfspot.name
.adr
  .geo
    %span.latitude= @surfspot.latitude
    %span.longitude= @surfspot.longitude
  %span.locality= @surfspot.town
  %br/
  %span.subregion= "#{@surfspot.region}, "
  %span.region= @surfspot.state
  %span.postal-code= @surfspot.postcode
%p.description= @surfspot.description

= link_to 'Edit',  url(:edit_surfspot,  @surfspot)
|
= link_to 'Back', url(:surfspots)